<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        {{>header}}
        <p>Nothing exists with the url : "{{ urlName }}"</p>
        {{>footer}}
    </body>
</html>