<!DOCTYPE html>
<html>
    <head>
            <link rel="icon" href="/img/weather.png">

        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        {{>header}}
        <p>This site was created during the Node.js course of Andrew Mead</p>
        <img src={{img}} alt="Photo of Thibaut">
        <p>My name is {{name}}</p>
        {{>footer}}
    </body>
</html>