<!DOCTYPE html>

<html>
<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
        {{>header}}
    <div class="main-content">
        <form action="">
            <p>Use this site to get your local weather !</p>
            <input type="text" placeholder="Your location">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>
        {{>footer}}
         <script src="/js/app.js"></script>
</body>

</html>